<h3> <%= current_company.company_name %> employee list</h3>
<br>
<% @employees.each do |employee| %>
  <p>
    <%= link_to(employee.name, company_employee_path(current_company, employee)) %>
  </p>
<% end %>
